{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "unused-imports"],
  "extends": ["prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": 0,
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
  }
}