.button {
  border-color: var(--ButtonLight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonLight);
}

.button__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button:active {
  border-color: var(--ButtonShadow) var(--ButtonLight) var(--ButtonLight) var(--ButtonShadow);
}

.button--light:active > .button__content {
  padding-top: 2px;
  padding-left: 2px;
}
