.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 30%;
  background: gray;
}

.titleBarControls > button {
  min-width: 16px !important;
  pointer-events: none !important;
}

.body{
  min-width: 320px;
  min-height: 320px;
  background: white;
}